@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,700;1,700&family=Roboto+Mono:wght@200;500&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,400&display=swap");

/* declare color scheme */
:root {
  --main-bg-color: #fdfdfd;
  --accent-color: #0060df;
  --shadow-color: rgba(0, 0, 0, 0.05);
  --tag-text-color: whitesmoke;
  --main-btn-color: #828282;
  --main-text-color: black;
  --main-font: "Roboto", sans-serif;
  --main-code-font: "Roboto Mono", monospace;
  --title-color: var(--main-text-color);
  --logo-font: "Roboto Condensed";
  --secondary-text-color: rgb(193, 193, 193);
  --card-background: white;
}

:root.light {
  --main-bg-color: whitesmoke;
  --accent-color: #0060df;
  --shadow-color: rgba(0, 0, 0, 0.05);
  --tag-text-color: whitesmoke;
  --main-btn-color: gray;
  --main-text-color: black;
}

:root.dark {
  --main-bg-color: #1c1c24;
  --main-text-color: ghostwhite;
  --accent-color: #2196f3;
  --shadow-color: rgba(0, 0, 0, 0.15);
  --tag-text-color: whitesmoke;
  --main-btn-color: rgb(65, 66, 89);
  --main-text-color: whitesmoke;
  --title-color: var(var(--accent-color));
  --card-background: rgb(40, 40, 60);
}

/* clear styles */
li,
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

/* global style */
:hover {
  transition-duration: 200ms;
}
* {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 300;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition-duration: all 200ms linear;
}

body,
nav.site-nav .page-link {
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
}

/* fine styles */
.skills h2 {
  border-bottom: 2px solid var(--accent-color);
  padding-left: 2rem;
  padding-right: 2rem;
  align-self: center;
}

header.site-header {
  border-top: none;
}

a.site-title,
a.site-title:visited {
  color: var(--title-color);
}

a.site-title:hover,
.page-link:hover {
  text-decoration: none;
  margin-top: 0.25rem;
  margin-bottom: -0.25rem;
  /* letter-spacing: 0.0125rem; */
  /* rotate: 1deg; */
}

.post-title {
  border-bottom: 2px solid var(--accent-color);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

no-style {
  all: revert;
  color: inherit;
  background-color: inherit;
  text-decoration: inherit;
  border: inherit;
}

a.no-style:hover {
  all: revert;
  color: inherit;
  text-decoration: inherit;
}

a.no-style div.project:hover {
  opacity: 0.8;
  box-shadow: 0px 0px 15px var(--shadow-color);
  transition: 200ms;
  border-color: var(--accent-color);
}

i {
  font-size: 3.5rem;
}

.round {
  border-radius: 50%;
}

.border {
  border: 1px solid var(--main-btn-color);
  border-radius: 5px;
}

img.profile {
  max-width: 200px;
  border: 2px solid white;
  margin-top: 1rem;
}

.profile h2 {
  margin-bottom: 0rem;
}

.profile p:first-of-type {
  width: 100%;
  text-align: center;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid black;
}

.profile span.username {
  display: none;
}

div.about {
  /* border-top: 4px solid black; */
  border-radius: 0px;
  flex: 1 300px;
}

.grid ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.grid li {
  font-size: 0.75rem;
  font-family: var(--main-code-font);
  font-weight: 400;
  color: var(--tag-text-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  /* border-bottom: 2px solid black; */
  padding: 0.25rem 0.5rem;
  margin: 0.125rem;
}

.grid p {
  font-size: 0.875rem;
}

.grid img {
  border-radius: 4px;
  margin-bottom: 1rem;
}

/* font and text styles */
code,
code * {
  font-family: var(--main-code-font);
}

a.site-title {
  font-family: var(--logo-font);
  font-style: italic;
  /* font-variant: small-caps; */
}

a.site-title::before {
  background-image: url(https://avatars.githubusercontent.com/u/97685638?v=4);
  display: inline-block;
  height: 50px;
  width: 50px;
}

.footer-text {
  color: var(--secondary-text-color);
  font-size: 0.75rem;
  text-align: center;
  margin: 0px;
  vertical-align: middle;
}

.footer-text.footer-icon {
  margin-top: 0.5rem;
}

.footer-icon a i {
  font-size: 1.75rem;
  color: var(--secondary-text-color);
}

.footer-icon a:hover {
  text-decoration: none;
  opacity: 0.8;
}

/* a.site-title:first-child::first-letter {
  font-size: 2rem;
} */

/* layout styles */
.container {
  display: flex;
  flex-flow: column nowrap;
  /* border: 1px solisd gray; */
  border-radius: 5px;
  margin: 0.5rem;
  padding: 1.5rem;
}

.profile.container {
  align-items: center;
  margin-left: 0px;
  /* background-color: rgb(230, 241, 249); */
  /* box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05); */
  padding: 1.25rem 1.75rem;
  flex: 1;
}

.profile-wrapper {
  display: flex;
  flex-flow: row wrap;
}

.container h2 {
  white-space: nowrap;
  width: auto;
  text-align: center;
}

.grid {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(min(15rem, 100%), 1fr)); */
  grid-auto-rows: 1fr;
  gap: 1rem;
}

.grid div.project {
  /* height: 4rem; */
  padding: 0rem;
  text-align: center;
  border-bottom: none;
  margin-bottom: 1.5rem;
}

.project .container {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.column {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  justify-content: space-between;
}

.column * {
  box-sizing: border-box;
}

.card {
  background-color: var(--card-background);
  border-radius: 5px;
  box-shadow: 0px 0px 12px 0px var(--shadow-color);
}

.flex-row {
  width: 100%;
  margin: 1rem 0.5rem;
}

.skills .flex-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 2rem;
}

.skills i {
  margin: 0.5rem 0.75rem;
}

.skills.container {
  margin: 1rem 0rem;
  align-items: center;
}

.flex-row ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.flex-row ul li {
  width: auto;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

/* buttons and interactivity */
div.buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  align-items: center;
  align-content: flex-start;
  width: 100%;
  height: 4rem;
  margin: 0px;
}

.buttons a {
  width: 100%;
  margin: 0px;
  /* padding: 0.5rem; */
  background-color: var(--main-btn-color);
  color: var(--tag-text-color);
  height: 100%;
  border-radius: 0px 0px 5px 0px;
}

.buttons span {
  display: inline-block;
  height: 4rem;
  line-height: 4rem;
}

.buttons a:first-of-type {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  margin-right: 2px;
  border-radius: 0px 0px 0px 5px;
}

.buttons a:hover {
  text-decoration: none;
  opacity: 0.8;
}

a.unavailable {
  pointer-events: none;
  opacity: 50%;
}

/* .post-content {
  display: flex;
  flex-flow: column nowrap;
} */

/* theme switch */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 0.5rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--accent-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--accent-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Media Queries */
@media screen and (min-width: 600px) {
  nav div.trigger {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
}

html {
  content: "";
}

@media (prefers-color-scheme: "light") {
  html {
    content: "light";
  }
}
@media (prefers-color-scheme: "dark") {
  html {
    content: "dark";
  }
}
